*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding-left: 300px;
    padding-right: 200px;
    background-color: #1F2937;
}
.upper-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 16px;
    
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style: none;
}

.main-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.main-title-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 5px;
}


.place-holder {
    display: flex;
    height: 200px;
    width: 500px;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
}

.header-info {
    display: flex;
    width: 400px;
    height: 350px;
    flex-flow: column wrap;
    column-gap: 525px;
}

.header-signup-button {
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 12px;
    padding: 4px 12px;
    color: #e5e7eb;
    border: none;
    width: 100px;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 25px;
}

.box {
    width: 170px;
    height: 175px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    gap: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 36px;
    color: #1f2937;
    height: 200px;
    width: 725px;
}

.quoter {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.signup-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blue-box {
    background-color: #3882f6;
    height: 150px;
    width: 1000px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.signup-section-main-text {
    color: #f9faf8;
    font-size: 28px;
    font-weight: bold;
    margin-right: 170px;
}

.signup-section-sub-text {
    color: #e5e7eb;
    font-size: 18px
}

.signup-button2 {
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 12px;
    padding: 4px 12px;
    color: #e5e7eb;
    border: 1px solid #f9faf8;
    width: 100px;
    margin-top: 20px;
}

.signup-section-main-text, 
.signup-section-sub-text{
    padding-left: 50px;
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
    height: 70px;
    justify-content: center;
    align-items: center;
}